img {
  max-height: 40vh;
}

.carousel-item {
  text-align: center;
}

.carousel-control-prev, .carousel-control-next {
  color: #777;
  font-weight: bold;
  font-size: 3rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #ccc;
}

.carousel-indicators .active {
  background-color: red;
}
