<form>
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="gender" class="form-label">Akit keresek:</label>
      <select class="form-select" id="gender">
        <option></option>
        <option>Férfi</option>
        <option>Nő</option>
      </select>
    </div>
    <div class="col-md-6 col-12">
      <label for="fromAge" class="form-label">Életkor</label>
      <br>
      <input type="number" class="form-control" id="fromAge">
      <span class="mx-2">-</span>
      <input type="number" class="form-control" id="toAge">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-12">
      <label for="county" class="form-label">Megye: </label>
      <select class="form-select" id="gender">
        <option>Győr-Moson-Sopron</option>
        <option>Komárom-Esztergom</option>
      </select>
    </div>

    <div class="col-md-6 col-12">
      <br>
      <input type="checkbox" class="form-check-input" id="onlyANight">
      <label for="onlyANight" class="form-label">Csak alkalmi kapcsolatot keresek.</label>

      <button type="submit" class="btn btn-primary ms-5">Keresés</button>
    </div>
  </div>
</form>
